@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:ital,wght@1,300&display=swap');

.App{
  display: flex;
  color: white;
  background-color: rgb(160, 87, 160);
}

* {
  margin: 0px;
  box-sizing: border-box;
  /* background-color: rgb(77, 180, 187); */
  font-family: 'DynaPuff', cursive;
  font-family: 'Roboto', sans-serif;
}

.blur {
  width: 10rem;
  height: 10rem;
  background: rgb(149, 212, 66);
  filter: blur(100px);
  position: absolute;
  top: 3rem;
  left: 1rem;
  border-radius: 50%;
  z-index: -20;

}
.sidebar_container{
  height: 130vh;
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: rgb(65, 118, 143); */
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
}

.navbar{
  width: 14rem;
  height: 85%;
  margin: 2px 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  background-color: rgb(63, 52, 126);
  backdrop-filter: blur(5.5px);
  box-shadow: 0 8px 32px 0 rgb(114, 42, 42);
}
.icon_menu{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
 
}
.icon_menu>span{
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
}
.profile_pic{
  justify-content: center;
  align-items: center;
  
}
.profile_pic> img{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;

}
.g-head{
  display: flex;
  align-self: flex-start;
}
.body_container{
  flex: 1;
  /* background-color: chocolate; */
}